/*color palette: https://coolors.co/cad2c5-84a98c-52796f-354f52-2f3e46*/

body {
    background-color: #cad2c5;
    font: verdana;
    color: #52796f;
    margin: 0px;
}


main {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

article {
    border-right-color: black;
    margin-right: 50px;
    
} 

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;

}

.homeQuote {
    background-color: #84a98c;
    margin-left: 10px;
    height: 100%;
    color: #2f3e46;
    box-shadow: 10px 5px 5px rgba(53, 79, 82);
}

.homeQuote > h2 {
    padding-left: .5rem;
}

.homeQuote > p {
    padding-top: .5rem;
}

.homeQuote:hover {
    transform: rotateY(180deg);
}



/* buttons*/
button {
    background-color: #84a98c;
    border: 0;
    height: 30px;
    color: rgb(230, 230, 230); 
}

/*effect when you hover on the buttons*/
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em 0.4em #354F52;
  transform: translateY(-0.25em);
}

a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav li  {
    display: inline;
    padding: 5px;
    float: left;
}

nav ul {
    margin: 0px;
}

nav {
    background-color: #2f3e46;
    height: 30px;
    margin-top: 0px;
}

nav a {
    padding: 1px;
    font: verdana;
}

#farRight {
    float: right;
    margin-right: 20px;
} 

.emoDiv {
    margin-left: 10px;
}

.face {
    border-radius: 50%;
    width: 100%;
}

img {
    height: 300px;
    width: 300px;
    float: left;
    object-fit: cover;
}

.phraseDiv {
    width: 100%;
}